* {
    font-family: 'Itim', cursive;
}

body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;

}

.coverPage-wrapper {
    display: flex;
    justify-content: center;

}



#background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(248, 248, 248, 0.4) 4%,
            rgba(248, 248, 248, 0.4) 4%), url('/pictures/bg1.jpg') center;
    background-size: cover;
    position: relative;


}

.word-wrapper {
    position: absolute;
    top: 160px;
    left: 15%;
    bottom: 0;
    height: auto;
    width: auto;

}

.cover-word {
    width: auto;
    height: auto;
    font-size: 3rem;
    font-weight: b5old;
    color: #c37468;
    font-family: 'Pacifico', cursive;



}



.welcome {
    color: #65656f;

}


#navbar {
    position: absolute;
    left: 10px;
    position: fixed;
    top: 250px;


}

.navbar-wrapper {
    width: 80px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.462);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgb(85, 85, 85, 2);
    transition: 0.5s;
    position: relative;

}

.navbar-header {
    position: relative;
    width: 80px;
    height: 400px;
    transition: 0.5s;

}

.navbar-wrapper.active {
    width: 300px;
}

.navbar-header.active {
    width: 300px;
    transition: 0.5s;
}

.navbar-wrapper ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

.navbar-wrapper ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navbar-wrapper ul li:hover {
    background-color: #fbf7f794;

}

.navbar-wrapper ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #5b5b64;
    font-weight: bold;
    padding-top: 20px;
}

.navbar-wrapper ul li a .icon {
    position: relative;
    display: block;
    min-width: 80px;
    height: 80px;
    line-height: 60px;
    text-align: center;
    margin-right: 10px;
}


.navbar-wrapper ul li a .icon .fa {
    font-size: 24px;

}

.navbar-wrapper ul li a .title {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;

}

.icon:hover {
    color: #2f41b8;
}

a :hover {
    color: #2f41b8;
}

.toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f5f5f5e4;
    cursor: pointer;
    right: -20px;
    top: calc(50% - 20px);
    border: 5px solid #e9e7ef34;
    cursor: pointer;
    border-radius: 50%;
}

.toggle::before {
    content: '\f054';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: #6843d1;
    transition: 0.5s;

}

.toggle.active::before {
    content: '\f053';

}


/* About Me */

.about-wrapper {
    margin-top: 20px;
    width: 97.5vw;
    height: 100vh;
    background: url('/pictures/content-bg2.jpg') center;
    background-size: cover;

}

.title-wrapper {
    display: flex;
    justify-content: center;

}

.about-content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.about-title {
    width: 220px;
    text-align: center;
    font-size: 50px;
    margin: 30px 0 60px;
    color: #c37468;
    border-bottom: 2px double #65656f;
    box-shadow: 0px 15px 10px -15px rgb(193, 190, 190);


}


.about-name {
    font-size: 35px;
    color: #286788;
    font-weight: bold;
    padding-left: 100px;


}


.photo {
    width: 110%;
    padding-top: 18px;
    text-align: end;
}

.about-content {
    margin-top: 10px;
    font-size: 25px;
    text-align: start;
    padding-left: 100px;

}


/*contact */

#contact {
    height: 70vh;

}

.contact-title-wrapper {
    display: flex;
    justify-content: center;
}

.contact-title {
    width: 280px;
    text-align: center;
    font-size: 50px;
    margin: 30px 0 60px;
    color: #c37468;
    border-bottom: 2px double #65656f;
    box-shadow: 0px 15px 10px -15px rgb(193, 190, 190);


}

.contact-content {
    margin-left: 200px;
}


.contact-word-title {
    width: 150px;
    font-size: 25px;
    color: #c37468;

}

.contact-info {
    font-size: 24.5px;
}



.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #34b7a7;
    color: rgba(255, 255, 255, 0);
}

.contact .php-email-form {
    width: 100%;
    background: rgba(255, 255, 255, 0);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #34b7a7;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #34b7a7;
    border: 0;
    padding: 10px 30px 12px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #3dc8b7;
}


@media screen and (min-width: 727px) and (max-width: 1025px) {
    .cover-word {
        font-size: 35px;
    }

    .word-wrapper {
        width: auto;
    }

}

@media screen and (max-width: 726px) {
    .cover-word {
        font-size: 32px;
    }

    .word-wrapper {

        width: auto;

    }

    .photo {
        width: 450px;

    }


    .about-content-wrapper {

        margin-top: 0;


    }

    .contact-word-title {
        text-align: center;
        width: auto;
    }

    .contact-content {
        margin-left: 0;
        text-align: center;
        margin-bottom: 40px;
        margin-top: -10px;

    }

}